<% include ../partials/header %>

<div class="ui main text container segment overallContainer">
    <div class="ui huge header"><%=blog.title%></div>
    <img class="show-img" src="<%= blog.image %>" height="300" width="550">
    <div class="text-left description">
        <h5><span><%- blog.created.toDateString() %></span></h5>
        <p><%- blog.body %></p>
        
        
    
        <div class="sideBySide">
            <div>
                <a class="ui inverted violet button" href="/blogs/<%=blog._id%>/edit">Edit</a>
            </div>
            
            <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                <button class="ui inverted red button">Delete</button>
            </form>
        </div>
        
        <div>
            
            <p><a class="ui inverted green button" href="/blogs/<%=blog._id%>/comments/new">Add a new comment</a></p>
            <h3>Comments</h3>
            <% blog.comments.forEach(function(comment) { %>
            <p class="commentsText"><strong><%=comment.author%></strong> - <%=comment.text%></p>
        <% }); %>
        </div>
        
        
        
        
    </div>
    
    
    
</div>


<% include ../partials/footer %>